@using AzureMongoDbOnion03.ViewModels

@model IEnumerable<MoneyPlusDebtorName>

@foreach (var creditPlusDebtorName in Model)
{
    <tr>
        <td>@creditPlusDebtorName.DebtorName</td>
        <td>@creditPlusDebtorName.Credit.Currency</td>
        <td>@creditPlusDebtorName.Credit.Amount</td>
        <td>@creditPlusDebtorName.Credit.Comment</td>
        <td style="padding: 20px">@Html.ActionLink("Edit", "Edit", creditPlusDebtorName.Credit)</td>
        <td style="padding: 20px">@Html.ActionLink("Repay", "Repay", creditPlusDebtorName.Credit)</td>
    </tr>
}
