@using AzureMongoDbOnion03.ViewModels

@model IEnumerable<AzureMongoDbOnion03.ViewModels.MoneyPlusDebtorName>

@foreach (var creditPlusDebtorName in Model)
{
    <tr>
        <td>@creditPlusDebtorName.DebtorName</td>
        <td>@creditPlusDebtorName.Credit.Currency</td>
        <td>@creditPlusDebtorName.Credit.Amount</td>
        <td>@creditPlusDebtorName.Credit.Comment</td>
        <td>@Html.ActionLink("Repay", "Repay", creditPlusDebtorName.Credit)</td>
    </tr>
