@using Microsoft.AspNetCore.Mvc.Localization
@model AzureMongoDbOnion03.ViewModels.HomeIndexViewModel
@inject IViewLocalizer Localizer

@{
    @Localizer["PageTitle"]
}

@await Component.InvokeAsync("CreditSum")

<p />


@using (Html.BeginForm("GetCurrency", "Home", FormMethod.Post))
{
    @Html.DropDownListFor(model => Model.SelectedCurrency, new SelectList(new[] { "All" }.Concat(Enum.GetNames(typeof(Currency))), Model.SelectedCurrency), new { onchange = @"form.submit();" })
}

<table>
    <thead>
        <tr>
            <th>Имя</th>
            <th>Валюта</th>
            <th>Сумма</th>
            <th>Коментарий</th>
        </tr>
    </thead>

    @Html.Partial("GetCredits", Model.CreditPlusDebtorNames)

</table>

<p />

@using (Html.BeginForm("AddCredit", "Home", FormMethod.Post))
{
    <table>
        <tr>
            <td>
                @Html.Label("Должник: ")
            </td>
            <td>
                @Html.DropDownListFor(x => x.NewCredit.ForeignId, Model.Debtors.Select(x => new SelectListItem { Value = x.Id, Text = x.Name, Selected = true }))
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Валюта: ")
            </td>
            <td>
                @Html.DropDownListFor(x => x.NewCredit.Currency, new SelectList(Enum.GetNames(typeof(Currency))))
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Сумма: ")
            </td>
            <td>
                @Html.TextBoxFor(x => x.NewCredit.Amount)
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Дата возврата: ")
            </td>
            <td>
                <div class="form-group input-group-sm">
                    @Html.TextBoxFor(model => model.NewCredit.ExpirationDate, new { @class = "form-control", placeholder = "Enter Drop-off date here..." })
                </div>
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Коментарий: ")
            </td>
            <td>
                @Html.TextBoxFor(x => x.NewCredit.Comment)
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Add credit" />
            </td>
        </tr>
    </table>
}
